<div class="row">
  <div class="col-sm-12 profile-header">
    <div class="hero-image" <%= background_image(@profile) %> >
      <%= image_tag @profile.photo.expiring_url, class: "profile-photo" %>
      <div class="username"><%= @profile.name %></div>
      <%= render partial: "shared/friend_or_unfriend_button", locals: { user: @profile.user } %>
    </div>
    <nav class="profile-navigation-bar">
      <div class="profile-photo-spacer"></div>
      <div class="profile-navigation-item"><%= link_to "Timeline", "#" %></div>
      <div class="profile-navigation-item"><%= link_to "About", user_profile_path(@profile) %></div>
      <div class="profile-navigation-item"><%= link_to "Photos", "#" %> <span class="badge"> <!-- % = @profile.user.photos.count % --></span></div>
      <div class="profile-navigation-item"><%= link_to "Friends", "#" %> <span class="badge"><!-- % = @profile.user.friended_users.count % --></span></div>
    </nav>
  </div>
</div>
