<div class="container">
  <%= render partial: "shared/nav", locals: {user: @user} %>
</div>
<main>
  <div class="containter">
    <h2>Edit Profile</h2>
  </div>
  <div class="container">
  <%= form_for @user do |f| %>
    <h3>Basic Information</h3>
    <h5>Birthdate: <%= @user.dob %></h5>

    <%= f.label :college, "College:" %>
    <%= f.text_field :college %>

    <%= f.label :hometown, "Hometown:" %>
    <%= f.text_field :hometown %>

    <%= f.label :cuurently_lives, "Currently Lives: " %>
    <%= f.text_field :currently_lives %>

    <h3>Contact information</h3>
    <h5>Email: <%= @user.email %></h5>

    <%= f.label :phone, "Telephone: " %>
    <%= f.text_field :phone %>

    <%= f.label :words_live, "Words to Live By" %>
    <%= f.text_area :words_live %>

    <%= f.label :about_me, "About Me" %>
    <%= f.text_area :about_me %>
    
    <%= f.submit "Save Changes" %>
  <% end %>

</div>

</main>
