<div class="container">
  <%= render partial: 'shared/nav_sign_in' %>
</div>
<main>
 <div class="container">
  <div class="row">
    <!-- CONNECT -->
    <aside class="col-md-5 col-md-offset-1">
      <h2 >
        Connect with all your friends!
      </h2>
      <ul>
        <li>See photos and updates in your news feed.</li>
        <li>Post your status for the world to see.</li>
        <li>Get in touch with your friends by "friending" them.</li>
        <li>Like things because you're a positive person!</li>
       </ul>
    </aside>

    <!-- SIGN UP -->
    <div class="col-md-5 col-md-offset-1">
      <h1>Sign Up</h1>
      <%= form_for @user do |f| %>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>

        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
        <br />
        <%= f.label :email %>
        <%= f.text_field :email %>
        <br />
        <%= f.label :password %>
        <%= f.password_field :password %>
        <br />
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
        <br />
        <%= f.label :dob %>
        <%= f.date_select :dob %>
        <br />
        <%= f.label :gender, "Female" %>
        <%= f.radio_button :gender, "Female" %>
        <%= f.label :gender, "Male" %>
        <%= f.radio_button :gender, "Male" %>
        <br />
        <%= f.submit "Sign Up", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
 </div>
</main>
