<div class="container">
  <%= render partial: "shared/nav", locals: {user: @user} %>
</div>

<main><!--About information -->
    <div class="titlebar-full">
      <h1>About</h1>
      <%= link_to "Edit your Profile", edit_user_path(@user.id) %>
    </div>
    <div class="about-info">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-1">
            <table id="basic_information">
              <tr>
                <th colspan="2">Basic Information</th>
              </tr>
              <tr>
                <td>Birthday:</td>
                <td><%= @user.dob %></td>
              </tr>
              <tr>
                <td>College:</td>
                <td><%= @user.college %></td>
              </tr>
              <tr>
                <td>Hometown:</td>
                <td><%= @user.hometown %></td>
              </tr>
              <tr>
                <td>Currently Lives:</td>
                <td><%= @user.currently_lives %></td>
              </tr>
            </table>
            <table>
              <tr>
                <th colspan="2">Contact Information</th>
              </tr>
              <tr>
                <td>Email:</td>
                <td><%= @user.email %></td>
              </tr>
              <tr>
                <td>Telephone:</td>
                <td><%= @user.phone %></td>
              </tr>
            </table>
          </div>
          <div class="col-sm-5 col-sm-offset-1">
            <h2>Words to Live By</h2>
            <p><%= @user.words_live %></p>
            <h2>About Me</h2>
            <p><%= @user.about_me %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
